.TransfersList

  progress
    display: block
    width: 100%

.TransfersList-Transfer
  align-items: center
  border-bottom: 1px solid rgb(235,235,235)
  cursor: pointer

  // &:focus
  //   background-color: lightblue
  //   outline: none

.TransfersList-Transfer-selected
  background-color: #D3E8EF

.TransfersList-Transfer-deleting
  opacity: 0.25
  cursor: not-allowed


.TransfersList-Controls

